
html{
  background: no-repeat url("../img/lavacrp.png");
  background-size: cover;
  background-color: rgba(0, 0, 0, 1);
  width: 100%;
  height: 100%;
  }
#root, body {
  
}

header,
footer{
  grid-column: 1 / span 2;
  background: #cdc;
  background-size: cover;
  color: white;
  font-family: 'Vidaloka', serif;
}
header{
  background: url("../img/hlogo.png");
  background-size: cover;
  color: white;
  font-family: 'Vidaloka', serif;
}

body{
  margin:  auto;
  padding:15px;
  max-width: 100vw;
  padding: 0em 0;
  font-family: 'Vidaloka', serif; 
  height:100vh;
  
}

#root, input, div label, button{
  font-size: 1rem;
  
}

#app {
  height:100%;
  width:50vw;
  color: #fff;
  background: rgba(70, 99, 87, 0.4);
  padding: 10px;
  text-align: left;
}

.net{
  color: #000;
  background: #ccc;
}
.asset{  
height:100%;
color:#000;
background:rgb(80, 53, 75);
padding:15px;
}

form {
  form-field{
  margin: 15px;
  padding: 12px;
  }
}
#footer {
  div {
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
  }
  div::after {
    content: "";
    background: url("../img/hlogo.png");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
}


  