

p, ol, ul, td {
  font-family: 'Vidaloka', serif; 
  font-size: 15px;
  line-height: 18px;
}

a {
  color: #000;
  &:visited {
    color: #000;
  }

  &:hover {
    color: #f00;
    background-color: none;
  }
}
h6{
    text-align: center;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
    
  ul li {
    font-size: 15px;
    list-style: square;
  }
}

label {
  display: block;
}

logo {
  width: 250px; 
  height:250px;  
  background: url("../img/orgi.png");
  border-radius: 1rem 30% 1rem;
 

}