 #exit {
  height: 100vh;
  width: 85vw;
  background: no-repeat url("../img/street.jpeg");
}
.btn-out{
  position: relative;
  width: 30px;
  height:10px;
  border-radius: 1rem;
  background: palegoldenrod; 
}
