div.form-signup {
  background: url("../img/street.jpeg");

  label {
    font-size: 1.5rem;
    font-family: 'Modak', cursive;
    font-family: 'Vidaloka', serif;
  }
  .btn-signup{
  width:100%;
  height:50px;
  border-radius: 1rem;
  background: cadetblue;
  }
}