<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="icon" href="data:;base64,=">-->
    <%= favicon_link_tag 'public/favicon.ico' %>
    <%= javascript_pack_tag 'application'%>
    <%= stylesheet_pack_tag 'application'%>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
   <title>Hilina</title>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
