*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: 'Poiret One', cursive;
  background: url('../img/bro.jpg');
  background-size: cover;
  .route {
    padding: 1% 5%;
    margin: 9px;
    width: auto;
    height: 100vh;
    background: rgba(49, 49, 49, 0.38);
  }
  .dashboard{
    div.login_signup{
      width: 350px;
      position: relative;
      left: 30%;
      div.links {
        background: #000;
        padding: 1rem;
        border-radius: 1rem 1rem 1rem 0;
        border-bottom: hidden;
      }
      a {
        margin: 1rem;
        text-decoration: none;
        width: 100%;
        a.active { background: orange;}
      }
    }
    .user_board{
      width: 100%;
      .user_links{
        position: absolute;
        top: 7rem;
        left: 4%;
      }
      .assets{
        background:#9c7b7b;
        padding: 4rem;
        ul li {
          list-style: none;
        }        
      }
      .commitments{
        background: #9c7b7b;
        padding: 4rem;
        ul li {
          list-style: none;
        }
      }
      .networth div {
        background:#9c7b7b;
        padding: 4rem;
        ul li {
          list-style: none;
        }
      }
      .section{
        position: absolute;
        top: 6rem;
        right: 0%;
        background:radial-gradient(#ff6197e8, #607D8B);
        box-shadow: 0px 10px 2rem 1px #011d0a;
        padding: 4rem;
        height: 100%;
        width: 350px;
        ul li {
          list-style: none;
        }
        span{
          position: absolute;
          right: 0;
          top: 1rem;
          button {
            width: 7rem;
            height: 2rem;
            padding: 4px;
            margin: 4px;
          }
        }
      }
    }
  }
}

 #logo {
  position: fixed;
  left: 15px;
  top: 15px;
  background: no-repeat url('../img/svlogo.png');
  background-size: contain;
  height: 3rem ;
  width: 3rem;
  z-index: 100;
}
div.nav, .nav-bar{
  position: relative;
  background:radial-gradient(#ff6197e8, #607D8B);/*#02243d;*/
  height: 6rem;
  width: 100%;
  box-shadow: 13px 1px 1rem 8px #011d0a;
  li, a {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    color: #fff;
    padding: 5px;
    margin: 5px;
  }
  .link {
    position: relative;
    top: 1rem;
    text-align: center;
    
    a:hover{
      background: rgba(193, 193, 193, 0.8);
      margin: 5px;      
      border-radius: 5rem;
    }
  }
}
.active {
  background-color: #fdaa12;
  border-radius: 5%;
}

ul a {
  display: inline;
  position: relative;
     
}
form::before {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: rgba(112, 255, 112, 0.5);
}
.form{
  background: transparent;
  background: linear-gradient(transparent,#02243d);
  padding: 1rem;
  border-radius: 1rem;
  input, select, select option {
    outline: none;
    font-weight: 1000;
    font-family: 'Poiret One', cursive;
    color: #000;
    border: solid 1px #f06d06;
    padding: 3px;
    margin: 2px;
    height: 2rem;
    width: 100%; 
    border-radius: 5rem;
    background-clip: content-box;
    background-color: white;
    line-height: 1.5;
    font-size: 18px;
    text-indent: 0.5rem;
  }
}
button {
  color: #000;
  font-weight: bold;
  font-family: 'Poiret One', cursive;
  padding: 5px;
  border-radius: 5rem;
  background: orange;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  width: 100%; 
  a {
    text-decoration: none;
  }
}
button.btn-signup, .btn-login{
  margin: 6px 4px 0 0;
}
button.btn-delete{
  background-image: url('../img/big-bin.svg');
  width: 9rem;
}
button.btn-close,button.btn-cancel{
  background-image: url('../img/round-delete.svg');
  width: 2rem;
  height: 2rem;
}
button.btn-cancel{
  width: 7rem;
}
button.btn-signup, .btn-save{
  background: radial-gradient(#fcff2e,#9100ff);
}
button.btn-create{
  background-image: linear-gradient(
    115deg,
    rgba(58, 58, 58, 0.8),
    rgba(136, 136, 165, 0.7)
  ), url('../img/edit-button.svg');
}
.btn-edit{
  background-image: url('../img/edit-button.svg');  
  width: 8rem;
}
button.btn-add{
  background-image: url('../img/add-button.svg');
  width: 14%;
}
button.btn-close {
  position: absolute;
  top: 1rem;
  width: 2rem;
  left: 1rem;
}
h1,h2,p, label, li, a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Poiret One', cursive;
}
#alert {
  background: red;
}
i.exit {
  background-image: url('../img/logout.svg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 2rem ;
  width: 2rem;
  position: absolute;
  right: 2%;
  top: 2rem;
}
.user_links {
  a:hover {
    background: #f06d06;
  }
  a { 
  padding: 1rem;
  margin: 1rem;
  }
}

footer{
  background: #000;
}
