*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: 'Poiret One', cursive;
  background: url('../img/mar.jpg');
  background-size: cover;
  .route {
    padding: 5% 5%;
    margin: 15px;
    width: auto;
    height: 100vh;
    background: rgba(49, 49, 49, 0.38);
  }
  .dashboard{
    div.login_signup{
      display:inline;
      width: 350px;
      position: absolute;
      left: 30%;
      top: 30%;
      right: 30%;
      div.links {
        background: #000;
        padding: 1rem;
        border-radius: 1rem 1rem 1rem 0;
        border-bottom: hidden;
      }
      a {
        margin: 1rem;
        text-decoration: none;
        width: 100%;
        a.active { background: orange;}
      }
    }
    .user_board{
      width: 100%;
      .user_links{
        position: absolute;
        top: 7rem;
        left: 4%;
      }
      .assets{
        background: #13702d;
      }
      .commitments{background: rgb(236, 102, 102);}
      .networth div {background: rgb(255, 217, 160);}
    }
    .section{
      background: inherit;
      position: absolute;
      top: 45%;
      right: 8%;
      border: 1px solid white;
    }
  }
}

 #logo {
  position: fixed;
  left: 15px;
  top: 15px;
  background: no-repeat url('../img/svlogo.png');
  background-size: contain;
  height: 3rem ;
  width: 3rem;
  z-index: 100;
}
div.nav, .nav-bar{
  position: relative;
  background:  #02243d;
  height: 6rem;
  width: 100%;
  box-shadow: 13px 1px 1rem 8px #011d0a;
  li, a {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    color: #fff;
    padding: 5px;
    margin: 5px;
  }
  .link {
    position: relative;
    top: 1rem;
    text-align: center;
    
    a:hover{
      background: rgba(193, 193, 193, 0.8);
      margin: 5px;      
      border-radius: 5rem;
    }
  }
}
.active {
  background-color: #fdaa12;
  border-radius: 5%;
}

ul a {
  display: inline;
  position: relative;
     
}
.form{
  background: transparent;
  background: linear-gradient(transparent,#02243d);
  padding: 1rem;
  border-radius: 1rem;
  input {
    font-weight: 1000;
    font-family: 'Poiret One', cursive;
    color: #000;
    border: solid 1px #f06d06;
    padding: 3px;
    margin: 2px;
    height: 2rem;
    width: 100%; 
    border-radius: 5rem;
    background-clip: content-box;
    background-color: white;
    line-height: 1.5;
    font-size: 18px;
    text-indent: 0.5rem;
  }
}
button {
  color: #000;
  font-weight: bold;
  font-family: 'Poiret One', cursive;
  padding: 5px;
  border-radius: 5rem;
  background: orange;
  width:100%; 
  a {
    text-decoration: none;
  }
}
button.btn-signup, .btn-login{
  margin: 6px 4px 0 0;
}

h1,h2,p, label, li, a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Poiret One', cursive;
}

#alert {
  background: red;
}
div.exit.form {
  position: absolute;
  left: 82%;
  top: 7rem;
}
.user_links {
  a:hover {
    background: #f06d06;
  }
  a { 
  padding: 1rem;
  margin: 1rem;
  }
}

footer{
  background: #000;
}
