/*styles for all components*/
  /*Background colors*/
    .primaryBgColor{
      background:radial-gradient(#ff6197e8, #607D8B);
    }
    .secondaryBg{
      background:rgb(200, 204, 204);
    }
    /*font styling*/
    .fontstyle{
      font-family: 'Poiret One', cursive;
      font-weight: 700px;
    }
    .bold{
      font-weight: bold;
    }
    .largeFont{
      font-size: 3rem;
      color: white;
    }
    .meduimFont{
      font-size: 2rem;
    }
    .smallFont{
      font-size: 1rem;
    }
  /*Background images*/
    .primaBgimg{
      background-image: radial-gradient(rgba(255, 97, 151, 0.5),
      #607D8B), url('../img/bro.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }
  /*Background Icons*/
    .iconStyle{
      composes: smallFont;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      margin: 0 0.5rem;
      width: 2.5rem;
      height: 2.5rem;
    }
    .backgrandStyle{
      background-size: contain;
      background-repeat: no-repeat;
    }
    /*Nav Icons*/
    .homeIcon{
      composes: iconStyle;
      background-image: url('../img/home.svg');
    }
    .aboutIcon{
      composes: iconStyle;
      background-image: url('../img/about-i.svg');
    }
    .contactIcon{
      composes: iconStyle;
      background-image: url('../img/contactIcon.svg');
    }
    .dashIcon{
      composes: iconStyle;
      background-image: url('../img/dashIcon.svg');
    }
    .exitIcon{
      composes: iconStyle;
      background-image: url('../img/logout.svg');
    }
    .assetIcon{
      composes: iconStyle;
      background-image: url('../img/assetIcon.svg');
    }
    .comitIcon{
      composes: iconStyle;
      background-image: url('../img/comitIcon.svg');
    }
    .netIcon{
      composes: iconStyle;
      background-image: url('../img/netIcon.svg');
    }
    .logoIcon{
      composes: iconStyle;
      position: absolute;
      top: 1rem;
      left: 1rem;
      width: 3rem;
      height: 3rem;
      background-image: url('../img/LOGO.svg');
    }
    .binIcon{
      composes: iconStyle;
      background-image: linear-gradient(to right,transparent, #ff5500),
      url('../img/big-bin.svg');
    }
    .closeIcon{
      composes: iconStyle;
      background-image: linear-gradient(transparent,transparent, #ff5500),
      url('../img/round-delete.svg');
      border-radius: 2rem;
      right: 0.1rem;
      position: absolute;
      top: 7.5rem;
    }
    .createIcon{
      composes: iconStyle;
      background-image: linear-gradient(
        115deg,
        rgba(58, 58, 58, 0.8),
        rgba(136, 136, 165, 0.7)
      ), url('../img/edit-button.svg');
    }
    .editIcon{
      composes: iconStyle;
      background-image: linear-gradient(to right,transparent, #abfc68),
      url('../img/edit-button.svg');
    }
    .saveIcon{
      composes: backgrandStyle;
      background-image: linear-gradient(to right,transparent, #abfc68),
      url('../img/add-button-sv.svg');
    }
    .addIcon{
      composes: iconStyle;
      background-image: linear-gradient(to right,transparent,transparent, #abfc68),
      url('../img/add-button.svg');
      box-shadow: 0px 0px 8px -1px #05020275;
      border-radius: 3rem;
      text-align: right;
      padding: 1.5rem;
      position: relative;
      left: 0.1rem;
      margin: 2rem;
      top: 0;
    }
    
  /*Shadow styles*/
  .shadow{
    box-shadow: 0px 5px 1rem -6px #011d0a;
  }
  /*Spacing*/
    .fullPage{
      width: 100%;
      height: auto;
    }
    .largeSpace{
      padding: 1rem;
      margin: 1rem;
    }
    .smallSpace{
      padding: 0.5rem;
      margin: 0 1px;
    }
  /*Grid*/
    .grid {
      display: grid;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: 1fr;
    }
    /*Gridcolums*/
    .colWidth{
      grid-column: 1/3;
    }
    /*Gridrows*/
      .navLen{
        grid-row: 1/2;
      }
      .contentLen{
        grid-row: 2/3;
      }
      .footerLen{
        grid-row: 3/4;
      }
  /*Grid*/
  .flexer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .flexChild{
    composes:fontstyle;
    composes: smallSpace;
    composes: secondaryBg;
    list-style: none;
    text-decoration: none;
    color: inherit;
    outline: none;
  }

  /*App style composition*/
  h1,h2,h3,h4,h5,h6,p,li,button,i,a {
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
    line-height: 1.5rem;
    padding: 1rem;
  }
  h2{
    text-transform: capitalize;
  }
  input, select, select option {
    outline: none;
    font-weight: 1000;
    font-family: 'Poiret One', cursive;
    color: #000;
    border: solid 1px #f06d06;
    padding: 3px;
    margin:0.5rem 0;
    height: 2rem;
    width: 100%; 
    border-radius: 4px;
    background-clip: content-box;
    background-color: white;
    line-height: 1.5;
    font-size: 18px;
    text-indent: 0.5rem;
  }
  button {
    color: #000;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
    padding: 5px;
    margin: 2px;
    border-radius: 4px;
    background: orange;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    width: 100%; 
  }
  .padded{
    padding: 1rem calc(30% - 20rem);
  }
  article{
    background:#f7f3f3;
  }
  section{
    border-radius: 1px;
    background: #3b373778;;
  }
  .formFormat{
    composes:fontstyle;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0rem 0rem 14rem 5rem rgba(250, 95, 197, 0.66);
    min-width: 20rem;
    background:#dfc9c9f0;
  }

/**Application layout**/
.app{
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-gap: 0.15rem;
  max-width: 100%;
  composes: primaBgimg;
}
/****NAVBAR****/
  .navBar{
    grid-row: 1/2;    
  } 
    .navLink{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background:radial-gradient(#ff6197e8, #607D8B);
      box-shadow: 0px 1px 2rem 1px #232a25b0;
      height: 7rem;
    }
      .navItem{
        text-decoration: none;
        color: inherit;
        outline: none;
      }
      .navChild{
        display: inline-flex;
        align-items: center;
        list-style: none;
        color: #fff;
      }
    
  /*make nav stick position: fixed; width: 100%;*/
  .appSection{
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.1rem;
  }
  
  .mainContent{
    background:#eee7e7;
    width: 100%;
    height: 100%;
  }
    /*inside content*/
    .home{
      composes: padded;
    } 
    .about{
      composes: padded;
      composes:fontstyle;
    } 
    .contact{
      composes: padded;
      display: flex;}
    .dashbord{
      composes: fontstyle;
      max-width: 100%;
      display: flex;
      flex-direction: row-reverse;
    }
    .sectionEdit{
      composes: formFormat;
      background-color: rgba(99, 99, 99, 0.91);
      padding: 5rem calc(50% - 15rem);
      border-radius: 3px;
      position: absolute;
      width: 100%;
      left: 0%;
      top: -1px;
      bottom: 0;
      z-index: 100;
    }
    .authPage{
      display: flex;
      flex-direction: column;
      padding: 0  calc(30% - 70px);
      margin-bottom: 1rem;
    }
    .links{
      text-align: center;
      margin: 1rem auto;
      display: flex;
    }
      .signUp{
        composes: formFormat;
        padding: 1rem;
        margin-top: 0.3rem;
      }
      .signUp span {
        display: flex;
      }
      .logIn{
        composes: formFormat;
        padding: 1rem;
        margin-top: 0.3rem;
      }
    .asset{
      composes: padded;
    }
    .commit{
      composes: padded;
    }
    .netWorth{
      composes: padded;
    }
  .signOut{
    composes: backgrandStyle;
    composes: iconStyle;
    background-image: url('../img/logout.svg');
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 1;
  }
.footer{
  bottom: 0;
  width: 100%;
  grid-row: 3/4;
  color: white;
  background: rgb(78, 54, 83);
  box-shadow: 0px -0.5rem 2rem 1rem #200820ad;
}

.gridCol{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 0 4px;
  padding: 1px;
}
.gridRow{
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(2rem, auto));
}
@media(max-width:650px){
  .navLink {
    position: absolute;
    max-width: calc(50vh - 2rem);
    right: 0;
    height: 99vh;
    padding: 3rem;
    z-index: 100;
    composes: primaryBgColor;
  }
 .logoIcon{
    position: absolute;
    left: calc(50% - 2rem);
  }
} 
/**** NETWORTH UI VEIWS *****/
.viewContainer{
  display: flex;
  margin: auto;
}
.viewDisplay{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px;

}
.circle{
  position: relative;
}
.circleSvg{
  width: 100px;
  height: 100px;
}
.circleProgress{
  cx: 50;
  cy: 50;
  r: 47;
  fill: none;
  stroke-width: 3;
  stroke-opacity: 0.3;
  stroke-linecap: round;
  stroke:#AAFF00;
} 
.circleProgressPath{
  composes: circleProgress;
}
.circleProgressFill{
  composes: circleProgress;
  --initailStorke: 0;
  --transDuration: 0;
  stroke-opacity: 1;
  stroke-dasharray: var(--initailStorke);
  stroke-dashoffset: var(--initailStorke);
  transition: stroke-dashoffset var(--transDuration) ease;
}
.percentage{
  width: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  font-weight: bold;
  text-align: center;
  line-height: 28px;
  transform: translate(-47%, -50%);
}
.perInt{
  font-size: 1rem;
}
.perDec{font-size: 0.1rem;}
.label{
  margin-top: 1rem;
  composes: largeFont;
}
.viewDisplay:nth-child(1) {}
